@import '../../styles/responsive.scss';

.featuredProducts {
    position: relative;
    margin: 130px auto;

    @include xs {
        position: relative;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin: 0 200px;
        margin-bottom: 50px;

        @include lg {
            margin: 0 100px;
            margin-bottom: 50px;
        }

        @include xs {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 50px;
            margin-bottom: 50px;
        }
    
        h2 {
            color: var(--header);
            flex: 1;
            font-size: calc(2 * var(--f16px));
            text-transform: capitalize;
            cursor: pointer;
        }
    
        p {
            flex: 4;
            color: var(--slate600);
            font-size: var(--f16px);
        }
    }
  
    .bottom {
        width: 90dvw;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        place-items: center center;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-margin: 1em;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;  /* Firefox */
        
        &::-webkit-scrollbar {
            display: none;
        }
              
        > * {
            scroll-snap-align: end;
        }

        
        
    }
    button {
        position: absolute;
        bottom: -10px;
        right: 5dvw;
        width: 12em;
        padding: 5px;
        padding-right: 0;
        background-color: transparent;
        color: var(--green600);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        cursor: pointer;
        border: 1px solid var(--green600);
        font-weight: 500;
        font-size: var(--f16px);
    }
}