@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.about {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    border-bottom: 1px solid var(--green600);
    padding: 0 50px;
    margin-inline: 50px;
    font-size: var(--f18px);

    p, span {
        color: var(--slate600);
        line-height: 2em;
    }

    .logo, b {
        color: var(--green600);
        font-weight: 500;
    }

    @include xs {
        padding: 0 25px;
        margin-inline: 0px;
    }

    .about-wrapper {
        gap: 40px;
        text-align: justify;
        font-size: var(--f18px);
        max-width: 1200px;
    }

    .about-title {
        margin-top: 2em;
        
        img {
            width: 100px;
        }
    }

    .about-par {
        width: 100%;

        .about-icon {
            display: none;
            margin-bottom: -0.5em;
            @include sm {
                display: initial;
            }
        }

        ul {
            padding-left: 20px;
            width: 100%;
            color: var(--slate600);
            display: flex;
            flex-direction: column;

            li {
                list-style-type: initial;
                font-size: inherit;
                line-height: 2em;
                margin-block: 5px;

                span {
                    margin-inline: 0.5em;
                }
            }
            .about-card {
                display: initial;
            }
        }
    }

    .about-buttons {
        width: 100%;
        gap: 20px;
        text-decoration: none;

        .about-button {
            width: 180px;
            margin: 1.25em 0;
            
            a {
                color: #fff;
                font-weight: 500;
                font-size: var(--f14px);
                text-decoration: none;
            }
        }
    }
}