.cart {
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

    @media (max-width: 510px) {
        width: 100dvw;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 250ms ease;
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 250ms ease;
    }
  
    h3 {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: var(--f24px);
    }

    .cart-list {
        max-height: 90vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-height: 510px) {
            max-height: 70vh;
        }
    }
    
    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 1.5em;

        img {
            width: 80px;
            height: 100px;
            object-fit: cover;
        }
    
        .details {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            h4 {
            line-height: 1em;
            font-size: var(--f18px);
            font-weight: 500;
            }
    
            p {
            color: var(--color-slate600);
            font-size: var(--f14px);
            max-width: 200px;
            text-wrap: wrap;
            }
    
            span {
            justify-self: flex-end;
            color: var(--color-green600);
            font-weight: 500;
            }
        }
    
        .delete {
            color: red;
            font-size: var(--f24px);
            cursor: pointer;
            margin-left: auto;
        }
    }
  
    .total {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: var(--f18px);
        margin-bottom: 1em;
    }
  
    button {
        width: 200px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background-color: var(--color-green600);
        color: var(--color-white);
        font-weight: 500;
        font-size: var(--f14px);
        margin: 1.25em 0 1.25em 0;
    }

    .error {
        color: var(--color-slate950);
        font-size: var(--f14px);
        width: 100%;
        background-color: var(--color-white);

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: 250ms ease;
        }
    
        &.inactive {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);
            transition: 250ms ease;
        }
    }
  
    .reset{
        margin: 0 auto;
        width: max-content;
        color: var(--color-slate400);
        font-size: var(--f14px);
        cursor: pointer;
    }
  }