@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.panel-quantity {
    justify-self: flex-end;
    gap: 20px;

    span {
        color: var(--green600);
        font-weight: 500;
    }

    button {
        width: 3em;
        height: 1em;
        font-size: inherit;
        margin: 0;
        padding: 0;
    }
}


.panel-error {
    color: var(--red600);
    font-size: var(--f14px);
    width: 100%;
    background-color: var(--white);
}