@import '../../styles/responsive.scss';

.sign {
    position: absolute;
    inset: 0;
    height: 100dvh;
    z-index: 2;
    padding: 20px;
    background-color: var(--background-color8);

    h2 {
        margin-bottom: 1em;
        padding: 10px;
        color: var(--green600);
        font-size: calc(2.5 * var(--f16px));
    }

    .sign-panel {
        min-width: 300px;
        gap: 10px;
        padding: 20px;
        -webkit-box-shadow: var(--box-shadow-value);
        box-shadow: var(--box-shadow-value);
        color: var(--slate950);
        background-color: var(--background-color8);

        h3 {
            color: var(--green600);
            font-size: calc(2.5 * var(--f16px));
        }

        h4 {
            color: inherit;
            font-size: calc(2 * var(--f16px));
        }

        .sign-header {
            gap: 20px;
            text-align: center;
        }

        .sign-info {
            margin-block: 20px;
            font-size: var(--f18px);

            > div {
                background-color: var(--background-color6);
                -webkit-box-shadow: var(--box-shadow-value);
                box-shadow: var(--box-shadow-value);
                padding: 1em;
                cursor: pointer;
            }

            .sign-amount {
                font-weight: 600;
                margin-left: 2em;
                color: var(--header);
            }
        }

        .sign-button {
            width: fit-content;
            padding-inline: 2em;
            font-size: var(--f16px);
        }

        input {
            font-size: var(--f8px);
            font-family: inherit;
            line-height: 2em;
            color: inherit;
            border: none;
            width: 100%;
            padding: 5px 10px;
            font-size: inherit;
            text-align: center;
            background-color: var(--background-color8);
            border: 1px solid var(--green600);
            
            &:focus {
                color: inherit;
                outline: none;
            }
        }

        .panel-button {
            width: 100%;
            color: var(--slate950);
            font-size: var(--f16px);

            &:first-of-type {
                margin-top: 20px;
            }
            
            &:active {
                background-color: var(--green200);
            }

            &:disabled {
                background-color: var(--background-color8);
                cursor: initial;
            }
        }

        .panel-error {
            color: var(--red600);
            font-size: var(--f18px);
        }
        
    }
    
}