@import '../../styles/responsive.scss';

.menu {
    position: absolute;
    inset: 0;
    height: 100dvh;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 250ms ease;
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 250ms ease;
    }

    h2 {
        margin-bottom: 3em;
        padding: 10px;
        color: var(--green600);
        font-size: calc(2.5 * var(--f16px));
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
        list-style-type: none;

        li {
            font-size: var(--f22px);
        }
    }
  
    
}