.menu {
    position: absolute;
    inset: 0;
    width: 100dvw;
    height: 110dvh;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 250ms ease;
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 250ms ease;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10vh;
        list-style-type: none;

        li {
            font-size: var(--f22px);
        }
    }
  
    
}