@import '../../styles/responsive.scss';

.list {
    display: grid;
    grid-auto-flow: dense;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    grid-auto-rows: auto;
    container-type: inline-size;

    @include sm {
        column-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    }

    @include xs {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .top {
        p, span {
            color: var(--slate950);
        }
    }
}