@import '../../styles/utils.scss';

.top {
    margin-bottom: 50px;

    h2 {
        color: var(--header);
        font-size: var(--f24px);
        text-transform: capitalize;
    }

    p, span {
        color: var(--slate950);
        font-size: var(--f16px);
    }
}