@import '../../styles/responsive.scss';

.categories {
    min-height: max-content;
    margin: 130px auto;

    h2 {
        color: var(--header);
        margin-bottom: 20px;
        font-size: calc(2 * var(--f16px));
        text-transform: capitalize;
        margin-top: 70px;
    }

    .grid {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 40dvh;
        overflow: hidden;
        position: relative;
        gap: 10px;

        @include md {
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
        }

        @include xs {
            width: 100%;
            height: 86dvh;
            grid-auto-flow: row;
            grid-auto-rows: auto;
            grid-template-columns: 1fr 1fr;
        }

        .cell {
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
            }

            button {
                font-family: inherit;
                letter-spacing: 0.05em;
                position: absolute;
                z-index: 3;
                min-width: 100px;
                width: fit-content;
                height: 2.5em;
                line-height: 2.5em;
                inset: 0;
                margin: auto;
                cursor: pointer;
                border: none;
                background-color: rgba(255, 255, 255, 0.8);
                text-transform: uppercase;
                font-weight: 500;
                font-size: var(--f14px);

                @include xs {
                    font-size: var(--f16px);
                }
            }

            // TRENDING
            &:nth-child(1) {
                grid-column: 2 / 3;
                grid-row: 1 / 1;

                @include md {
                    grid-column: auto / span 1;
                    grid-row: auto / span 1;
                }

                @include xs {
                    grid-column: auto / span 1;
                    grid-row: auto / span 1;
                }
            }
            // WOMEN
            &:nth-child(2) {
                grid-column: 1 / 2;
                grid-row: 1 / 3;

                @include md {
                    grid-column: 1 / span 1;
                    grid-row: auto;
                }

                @include xs {
                    grid-column: auto / span 1;
                    grid-row: auto / span 1;
                }
            }
            // MEN
            &:nth-child(3) {
                grid-column: 3 / -1;
                grid-row: 1 / 2;

                @include md {
                    grid-column: 2 / span 1;
                    grid-row: auto;
                }

                @include xs {
                    grid-column: auto / span 1;
                    grid-row: auto;
                }
            }
            // UNISEX
            &:nth-child(4) {
                grid-column: 2 / 4;
                grid-row: 2 / 3;

                @include md {
                    grid-column: 3 / span 1;
                    grid-row: auto;
                }

                @include xs {
                    grid-column: auto / span 1;
                    grid-row: auto / span 1;
                }
            }
            // FEATURED
            &:nth-child(5) {
                grid-column: 4 / 5;
                grid-row: 2 / 3;

                @include md {
                    grid-column: auto / span 2;
                    grid-row: 2 / span 1;
                }

                @include xs {
                    grid-column: auto / span 2;
                    grid-row: auto / span 1;
                }
            }

            .Xrev, .Xnor, .Yrev, .Ynor {
                z-index: 0;
                opacity: 0;
                visibility: hidden;
                transition: 250ms ease;
                position: absolute;
            }
    
            .Xrev {
                transform: translateX(-50%);
            }
    
            .Xnor {
                transform: translateX(50%);
            }
    
            .Yrev {
                transform: translateY(-50%);
            }
    
            .Ynor {
                transform: translateY(50%);
            }
    
            &:hover {
                .Xrev, .Xnor, .Yrev, .Ynor {
                    z-index: 2;
                    opacity: 1;
                    visibility: visible;
                    transition: 250ms ease;
                }
    
                .Xnor, .Xrev {
                    transform: translateX(0);
                }
    
                .Ynor, .Yrev {
                    transform: translateY(0);
                }
            }
        }
    }
}