@import './responsive.scss';

:root {
    // Text color
    --white: #fff;
    --slate50: #f8fafc;
    --slate200: #e2e8f0;
    --slate400: #94a3b8;
    --slate600: #475569;
    --slate800: #1e293b;
    --slate900: #070a13;
    --slate950: #010519;
    --green50: #f0fdf4;
    --green200: #bbf7d0;
    --green400: #4ade80;
    --green600: #16a34a;
    --green800: #166534;
    --red600: #dc2626;
    --header: #010519;


    // Font size
    --f10px : 10px;
    --f11px : 11px;
    --f12px : 12px;
    --f13px : 13px;
    --f14px : 14px;
    --f15px : 15px;
    --f16px : 16px;
    --f17px : 17px;
    --f18px : 18px;
    --f19px : 19px;
    --f20px : 20px;
    --f21px : 21px;
    --f22px : 22px;
    --f23px : 23px;
    --f24px : 24px;

    // Box shadow
    --box-shadow-value: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

    // Background color
    --background-color6: rgba(255, 255, 255, 0.6);
    --background-color8: rgba(255, 255, 255, 0.8);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 250ms ease;
}

.night {
    --white: #010519;
    --slate50: #070a13;
    --slate200: #f8fafc;
    --slate400: #f8fafc;
    --slate600: #e2e8f0;
    --slate800: #f8fafc;
    --slate950: #f8fafc;
    --green50: #010519;
    --green200: #bbf7d0;
    --green400: #4ade80;
    --green600: #16a34a;
    --green800: #166534;
    --header: #16a34a;

    --box-shadow-value: 0px 0px 7px -5px rgba(255, 255, 255, 0.5);

    --background-color6: rgba(0, 0, 0, 0.6);
    --background-color8: rgba(0, 0, 0, 0.8);
}

.app {
    background-color: var(--white);

    .link {
        color: inherit;
        text-decoration: none;
    }
}

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: var(--slate950);
    scroll-behavior: smooth;

    // Remove scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    // No user selection over text
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    margin-bottom: 10px;
}

.inactive {
    overflow-y: hidden;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    margin-bottom: 0px;
}

@include xxl {
    :root {
        --f10px : 8px;
        --f11px : 9px;
        --f12px : 10px;
        --f13px : 11px;
        --f14px : 12px;
        --f15px : 13px;
        --f16px : 14px;
        --f17px : 15px;
        --f18px : 16px;
        --f19px : 17px;
        --f20px : 18px;
        --f21px : 19px;
        --f22px : 20px;
        --f23px : 21px;
        --f24px : 22px;
    }
}

@include xl {
    :root {
        --f10px : 7px;
        --f11px : 8px;
        --f12px : 9px;
        --f13px : 10px;
        --f14px : 11px;
        --f15px : 12px;
        --f16px : 13px;
        --f17px : 14px;
        --f18px : 15px;
        --f19px : 16px;
        --f20px : 17px;
        --f21px : 18px;
        --f22px : 19px;
        --f23px : 20px;
        --f24px : 21px;
    }
}

@include lg {
    :root {
        --f10px : 6px;
        --f11px : 7px;
        --f12px : 8px;
        --f13px : 9px;
        --f14px : 10px;
        --f15px : 11px;
        --f16px : 12px;
        --f17px : 13px;
        --f18px : 14px;
        --f19px : 15px;
        --f20px : 16px;
        --f21px : 17px;
        --f22px : 18px;
        --f23px : 19px;
        --f24px : 20px;
    }
}
