@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.error {
	height: 100%;
    overflow: hidden;
	position: relative;
	
    .error-wrapper {
		overflow-y: hidden;
		height: 100%;
		display: flex;
		transition: all 1000ms ease;
        
        img {
            width: 100dvw;
			height: auto;
			object-fit: cover;
			transform: translateY(-20%);
      	}
    }
  
	.error-title {
        margin: 0 auto;
		width: fit-content;
		text-align: center;
		p {
			font-family: inherit;
			color: var(--slate950);
			font-size: var(--f18px);
		}
	}
}