@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.fallback {
    margin-bottom: 50px;

    h2 {
        color: var(--header);
        font-size: var(--f24px);
        margin-bottom: 20px;

        @include xs {
            padding-inline: 5dvw;
        }
    }

    p {
        color: var(--slate950);
        font-size: var(--f16px);
        margin-bottom: 20px;
        
        @include xs {
            margin-inline: 5dvw;
        }
    }
}