@import '../../styles/responsive.scss';

.card {
    background-color: var(--color-slate50);
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

        .image {
            width: 280px;
            aspect-ratio: 9 / 13.5;
            overflow: hidden;
            position: relative;

            @include sm {
                width: 30vw;
            }
    
            @include xs {
                width: 90vw;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
            }
            
            .image2 {
                opacity: 0;
                visibility: hidden;
                transform: translateX(-25%);
                transition: 250ms ease;
            }

            &:hover {
                .image2 {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
                transition: 250ms ease;
                }
            }
        
            .season {
                position: absolute;
                top: 5px;
                left: 5px;
                background-color: var(--color-slate200);
                opacity: 0.8;
                padding: 3px 5px;
                z-index: 3;
                font-weight: 500;
                font-size: var(--f12px);
            }
        }
    
        h3 {
            color: var(--color-slate950);
            font-size: var(--f16px);
            font-weight: 400;
            margin: 0;
        }
    
        .prices {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            padding: 0;
            margin: 0;
    
            h4 {
                color: var(--color-green600);
                font-size: var(--f18px);
                font-weight: 500;
                margin: 0;
        
                &:first-child {
                    color: var(--color-slate400);
                    text-decoration: line-through;
                    margin: 0;
                }
            }
        }
  }