.product {
    padding: 20px 30px;
    display: flex;
    gap: 50px;
    height: max-content;
    min-height: 100vh;

    @media (max-width: 540px) {
        flex-direction: column;
        gap: 10px
    }
  
    .left {
        flex: 1;
        display: flex;
        gap: 20px;

        .images {
            flex: 1;

            @media (max-width: 540px) {
                display: flex;
                gap: 10px;
            }
    
            img {
            width: 100%;
            min-width: 150px;
            height: 150px;
            object-fit: cover;
            cursor: pointer;
            margin-bottom: 15px;
            left: 0;

                @media (max-width: 910px) {
                    height: 40vh;
                }
            }
        }
        
        .mainImage {
            flex: 5;
            height: max-content;

            @media (max-width: 910px) {
                flex: 0;
            }
    
            img {
            width: 100%;
            object-fit: cover;
            }

            @media (max-width: 540px) {
                display: none;
            }
        }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: var(--f14px);
      gap: 24px;

        h3 {
            color: var(--color-slate950);
            font-size: var(--f24px);
        }
  
        .price {
            font-size: calc(2 * var(--f16px));
            color: var(--color-green600);
            font-weight: 500;
        }
    
        p {
            color: var(--color-slate950);
            font-size: var(--f18px);
            font-weight: 300;
            text-align: justify;
        }
    
        .quantity {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: var(--f18px);

            span {
                color: var(--color-slate950);
                width: 30px;
                text-align: center;
            }
    
            button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            font-size: inherit;
                
                &:active {
                    background-color: var(--color-green200);
                }
            }
        }
  
        .add {
            width: 250px;
            padding: 10px;
            background-color: var(--color-green600);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            cursor: pointer;
            border: none;
            font-weight: 500;
            font-size: var(--f16px);
        }
  
        .item {
            width: 250px;
            padding: 10px;
            background-color: transparent;
            color: var(--color-green600);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            cursor: pointer;
            border: 1px solid var(--color-green600);
            font-weight: 500;
            font-size: var(--f16px);
        }
  
        .info {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            color: var(--color-slate600);
            margin-top: 30px;
    
            hr {
            width: 100%;
            border: 1px solid rgb(238, 237, 237);
            }

            .tag {
                text-transform: capitalize;
            }
        }
  
        hr {
            width: 100%;
            border: 1px solid rgb(238, 237, 237);
        }
  
    }
}