@import '../../styles/responsive.scss';
@import '../../styles/global.scss';

.product {
    padding: 20px 30px;
    display: flex;
    gap: 50px;
    min-height: 100vh;
    min-height: 100dvh;
    border-bottom: 1px solid var(--header);

    @include xs {
        flex-direction: column;
        gap: 10px
    }
  
    .left {
        flex: 1;
        display: flex;
        gap: 20px;

        .images {
            flex: 1;

            @include xs {
                display: flex;
                gap: 10px;
            }
    
            img {
                width: 100%;
                min-width: 150px;
                height: 150px;
                object-fit: cover;
                cursor: pointer;
                margin-bottom: 15px;
                left: 0;

                @include sm {
                    height: 40vh;
                }
            }
        }
        
        .mainImage {
            flex: 5;
            height: max-content;
    
            img {
                width: 100%;
                object-fit: cover;
            }

            @include sm {
                display: none;
            }
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: var(--f14px);
        gap: 24px;

        h3 {
            color: var(--slate950);
            font-size: var(--f24px);
        }
  
        .price {
            font-size: calc(2 * var(--f16px));
            color: var(--green600);
            font-weight: 500;
        }
    
        p {
            color: var(--slate950);
            font-size: var(--f18px);
            font-weight: 300;
            text-align: justify;
        }
    
        .quantity {
            display: flex;
            align-items: center;
            width: 250px;
            height: 50px;
            gap: 10px;
            font-size: var(--f18px);

            span {
                color: var(--slate950);
                width: 30px;
                text-align: center;
            }
    
            .quantity-button {
                flex: 1;
                max-width: 50px;
                height: 100%;
                cursor: pointer;
                border: none;
                font-size: inherit;
            }

            .cart-button {
                flex: 1;
                height: 100%;
                max-width: 100%;
                font-size: var(--f16px);
                margin-left: 20px;
            }
        }
  
        .buy-button {
            width: 250px;
            gap: 1em;
            padding-inline: 2em;
            font-weight: 500;
            font-size: var(--f16px);
            justify-content: flex-start !important;

            &:first-of-type {
                gap: 3em;
            }

            @include xxl {
                gap: 3em;

                &:first-of-type {
                    gap: 5em;
                }
            }
        }
  
        .info {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            color: var(--slate600);
            margin-top: 30px;
    
            hr {
            width: 100%;
            border-bottom: 1px solid rgba(238, 237, 237, 0.8);
            }

            .tag {
                text-transform: capitalize;
            }
        }
    }
}