.success {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 20px;

    .success-wrapper {
        gap: 10px;
        margin: auto;
        text-align: center;

        h2 {
            font-size: calc(var(--f16px) * 2);
            color: var(--green600);
            font-weight: 600;
            letter-spacing: 0.05em;
        }
    
        h4 {
            font-size: calc(var(--f14px) * 2);
            color: var(--green600);
            font-weight: 600;
            letter-spacing: 0.05em;
            word-break: break-all;
        }
    
        p {
            color: var(--slate950);
            font-size: var(--f16px);
    
            &:nth-child(4) {
                margin-bottom: 50px;
            }
    
            span {
                text-transform: uppercase;
                color: var(--green600);
                font-weight: 600;
            }
        }
    } 
}