@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.search-section {
    margin: 130px auto;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;

    @include xs {
        position: relative;
    }

    .top {
        gap: 10px;
        margin: 0 200px;
        margin-bottom: 50px;
        transition: all 0ms linear;

        @include lg {
            margin: 0 100px;
            margin-bottom: 50px;
        }

        @include sm {
            flex-direction: column !important;
            align-items: flex-start !important;
            margin: 0 50px;
            margin-bottom: 50px;
        }
    
        h2 {
            color: var(--header);
            flex: 1;
            font-size: calc(2 * var(--f16px));
            text-transform: capitalize;

            @include xl {
                flex: 2;
            }
        }
    
        p {
            flex: 4;
            color: var(--slate600);
            font-size: var(--f16px);

            @include xl {
                flex: 5;
            }

            @include sm {
                display: none;
            }
        }
    }

    .bottom {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: row;
        place-items: center;
        gap: 30px;

        form {
            display: flex;
            gap: 20px;
            justify-content: stretch;
            align-items: center;
            width: 50%;
            -webkit-box-shadow: var(--box-shadow-value);
            box-shadow: var(--box-shadow-value);

            @include md {
                width: 80%;
            }

            @include xs {
                flex-direction: column;
                gap: 5px;
            }

            label {
                flex: 1 1 20%;
                color: var(--slate950);
                font-size: var(--f16px);
                text-transform: initial;
                text-align: end;

                @include xs {
                    line-height: 2em;
                }
            }

            input {
                flex: 1 1 80%;
                width: 100%;
                padding: 0.5em 12px;
                line-height: 2em;
                color: var(--slate400);
                border: 1px solid var(--header);
                font-size: var(--f16px);
                background-color: var(--white);
                outline: none;
        
                &:focus {
                    color: var(--slate950);
                }
            }
        }
        
    }

    .search-slider {
        margin-top: 150px;
        height: 55vh;
        height: 55dvh;
		display: flex;
		transition: all 1000ms ease;
        
        @include xs {
            height: 60vh;
            height: 60dvh;
        }
        
      	img {
            width: 100vw;
			width: 100dvw;
			object-fit: cover;
      	}
    }
    
    .search-buttons {
        bottom: 30% !important;
    }
}