@import '../../styles/responsive.scss';
@import '../../styles/global.scss';

.searchbar {
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 20px;
    -webkit-box-shadow: var(--box-shadow-value);
    box-shadow: var(--box-shadow-value);
    display: grid;
    place-items: center;
    gap: 20px;
    min-width: 300px;
    color: var(--slate950);
    overflow-x: hidden;

    @include xs {
        width: 100dvw;
    }

    .searchbar-bar {
        width: 100%;
        padding-right: 8px;
        -webkit-box-shadow: var(--box-shadow-value);
        box-shadow: var(--box-shadow-value);

        form {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                line-height: 2em;
                color: inherit;
                border: none;
                width: 100%;
                padding: 5px 10px;
                
                &:focus {
                    color: inherit;
                    outline: none;
                }
            }
    
            .clearIcon {
                color: var(--slate400);
                cursor: pointer;
            }
        }
        
    }

    .searchbar-res {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        max-height: 85dvh;
        overflow-y: scroll;
        overscroll-behavior: contain;
        

        .searchbar-item {
            display: flex;
            align-items: center;
            justify-content: stretch;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            -webkit-box-shadow: var(--box-shadow-value);
            box-shadow: var(--box-shadow-value);

            img {
                width: 30%;
                aspect-ratio: 1 /1;
                object-fit: cover;
            }

            span {
                margin-left: 10px;
                font-size: var(--f18px);
            }

        }
    }


}