@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.searchbar {
    display: grid;
    place-items: center;
    gap: 20px;
    min-width: 300px;
    color: var(--slate950);

    @include xs {
        width: 100dvw;
    }

    .searchbar-bar {
        width: 100%;
        padding-right: 8px;
        -webkit-box-shadow: var(--box-shadow-value);
        box-shadow: var(--box-shadow-value);

        form {
            width: 100%;

            input {
                line-height: 2em;
                color: inherit;
                border: none;
                width: 100%;
                padding: 5px 10px;
                background-color: var(--background-color8);
                
                &:focus {
                    color: inherit;
                    outline: none;
                }
            }
    
            .clear-icon {
                color: var(--slate400);
                cursor: pointer;
            }
        }
        
    }

    .searchbar-res {
        gap: 20px;
        max-height: 85dvh;
        overflow-y: scroll;
        overscroll-behavior: contain;
        
        .searchbar-item {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            -webkit-box-shadow: var(--box-shadow-value);
            box-shadow: var(--box-shadow-value);

            img {
                width: 30%;
                aspect-ratio: 1 /1;
                object-fit: cover;
            }

            span {
                margin-left: 10px;
                font-size: var(--f18px);
            }

        }
    }


}