@import '../../styles/responsive.scss';

.navbar {
    -webkit-position: sticky;
    top: 0;
    position: sticky;
    inset: 0 0 auto;
    z-index: 5;
    height: max-content;
    padding: 0;
    color: var(--slate950);
    -webkit-box-shadow: var(--box-shadow-value);
    box-shadow: var(--box-shadow-value);

    .wrapper {
        width: 100%;
        padding: 10px 30px 8px 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(30vw), 1fr));
    

        @include sm {
            grid-template-columns: 1fr 4fr;
        }
        
        @include xs {
            grid-template-columns: 1fr 2fr;
            padding: 10px;
            padding-bottom: 8px;
            
        }

        .item {
            display: flex;
            align-items: center;
            font-size: var(--f18px);
        }

        .left {
            display: flex;
            align-items: center;
            place-self: center start;
            gap: 1.5em;

            @include md {
                gap: 1em;
            }

            @include sm {
                display: none;
            }

            .link {
                @include xs {
                    display: none;
                }
            }
        }


        .center {
            place-self: center;

            @include md {
                place-self: initial;
            }

            .link {
                color: var(--green600);
                font-weight: 600;
                font-size: calc(2.5 * var(--f16px));
                letter-spacing: 0.125em;
                margin: 0 1em;

                @include sm {
                    margin: 0 auto;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            place-self: center end;
            gap: 1.5em;
            width: max-content;

            @include md {
                gap: 1em;
            }

            .link {
                @include sm {
                    display: none;
                }
            }

            .icons {
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                color: var(--slate400);
                cursor: pointer;

                @include md {
                    gap: 1em;
                } 

                &> * {
                    position: relative;
                    overflow-x: visible;
                }
                
                span {
                    font-size: var(--f12px);
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: var(--green600);
                    color: #fff;
                    position: absolute;
                    right: -10px;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include md {
                        right: -5px;
                    } 
                }
            }

            .menuIcon {
                z-index: 1001;

                @media screen and (min-width: 810px) {
                    display: none;
                }
            }
        }
    }
}