.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: max-content;
    padding: 0;
    color: var(--color-slate950);
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

    .wrapper {
        padding: 10px 30px 8px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 910px) {
            display: grid;
            grid-template-columns: 1fr 4fr;
        }

        @media (max-width: 375px) {
            padding: 10px 0px 8px 0px;
        }

        .item {
            display: flex;
            align-items: center;
            font-size: var(--f18px);
        }

        .left {
            display: flex;
            align-items: center;
            gap: 1.5em;

            @media (max-width: 1024px) {
                gap: 1em;
            }

            @media (max-width: 910px) {
                display: none;
            }

            .link {
                @media (max-width: 540px) {
                    display: none;
                }
            }
        }


        .center {
            transform: translateX(30px);
            @media (max-width: 910px) {
                transform: translateX(0px);
            }

            .link {
                color: var(--color-green600);
                font-weight: 600;
                font-size: calc(2.5 * var(--f16px));
                letter-spacing: 0.125em;
                margin: 0 1em;

                @media (max-width: 910px) {
                    margin: 0 auto;
                }

                @media (max-width: 375px) {
                    margin-left: 20px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 1.5em;
            width: max-content;

            @media (max-width: 1024px) {
                gap: 1em;
            }

            @media (max-width: 910px) {
                margin-left: auto;
            }

            @media (max-width: 375px) {
                margin-left: 5vw;
            }

            .link {
                @media (max-width: 910px) {
                    display: none;
                }
            }

            .icons {
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                color: var(--color-slate400);
                cursor: pointer;

                @media (max-width: 1024px) {
                    gap: 1em;
                } 

                @media (max-width: 910px) {
                    margin-left: auto;
                }

                @media (max-width: 540px) {
                    padding-top: 8px;
                }

            }

            .cartIcon, .favIcon, .nightIcon, .menuIcon {
                position: relative;

                span {
                    font-size: var(--f12px);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: var(--color-green600);
                    color: #fff;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: 1024px) {
                        width: 15px;
                        height: 15px;
                        right: -5px;
                        top: -5px;
                    } 
                }
            }

            .menuIcon {
                z-index: 1001;

                @media (min-width: 910px) {
                    display: none;
                }
            }
        }
    }
}