@import '../../styles/responsive.scss';

.search {
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    min-height: 100vh;
    min-height: 100dvh;

    @include sm {
        padding: 30px 30px;
    }

    @include xs {
        padding: 30px 0;
        flex-direction: column;
    }
  
    .left {
        flex: 1;
        -webkit-position: sticky;
        position: sticky;
        z-index: 4;
        height: max-content;
        top: 70px;
        padding: 20px;
        font-size: var(--f16px);
        background-color: var(--background-color8);

        @include xs {
            top: 55px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 68px 100px;
            column-gap: 20px;
            row-gap: 30px;
            padding: 0 30px;

            div {
                &:nth-child(1) {
                    grid-column: 1 / -1;
                }
            }
        }
    
        .search-filter {
            margin-bottom: 30px;

            @include xs {
                margin-bottom: 0px;
            }

            h3 {
                color: var(--slate950);
                font-weight: 500;
                margin-bottom: 20px;
                font-size: var(--f18px);
            }

            .search-bar {
                -webkit-box-shadow: var(--box-shadow-value);
                box-shadow: var(--box-shadow-value);
                box-shadow: inset;
                border: 1px solid var(--header);
            }
    
            .search-input {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                color: var(--slate600);

                label {
                    margin-left: 10px;
                    text-transform: capitalize;
                }

                input {
                    cursor: pointer;

                    &:checked {
                        border-color: green;
                        background-color: green;
                    }
                }

                input[type='text'] {
                    width: 100%;
                    line-height: 1.8em;
                    color: var(--slate400);
                    border: none;
                    padding: 0.5em 12px;
                    font-size: var(--f16px);
                    background-color: var(--background-color8);
                    
                    &:active {
                        color: var(--slate950);
                        outline: none;
                    }

                    &:focus {
                        color: var(--slate950);
                        outline: none;
                    }
                }

                input[type='range'] {
                    margin: 0 10px;
                }

                button {
                    font-family: 'Rubik', sans-serif;
                    padding: 0.5em 1em;
                    line-height: 2em;
                    font-weight: 500;
                    border: none;
                    font-size: var(--f16px);
                    background-color: var(--header);
                    color: var(--white);
                    cursor: pointer;
                    
                    &:disabled {
                        background-color: var(--slate50);
                        color: var(--slate950);
                    }
                }

                span {
                    &:first-child {
                        margin-left: 5px;
                    }
                }

            }
        }
    }
    
    .right {
        flex: 3;
    
        .search-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 30%;
            margin-bottom: 50px;

            @include xs {
                display: none;
            }
        }
    }
}
