.search {
    position: absolute;
    margin: 0 auto;
    right: 0;
    z-index: 999;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    gap: 20px;
    min-width: 300px;
    color: var(--color-slate950);

    @media (max-width : 540px) {
        width: 100vw;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 250ms ease;
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 250ms ease;
    }

    .search-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 8px;
        -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

        input {
            line-height: 2em;
            color: inherit;
            border: none;
            width: 100%;
            padding: 5px 10px;
            
            &:focus {
                color: inherit;
                outline: none;
            }
        }

        .clearIcon {
            color: var(--color-slate400);
            cursor: pointer;
        }
    }

    .search-res {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        max-height: 90vh;
        overflow-y: scroll;
        overscroll-behavior: contain;
        

        .search-item {
            display: flex;
            align-items: center;
            justify-content: stretch;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

            img {
                width: 30%;
                aspect-ratio: 1 /1;
                object-fit: cover;
            }

            span {
                margin-left: 10px;
                font-size: var(--f18px);
            }

        }
    }


}