@import '../../styles/responsive.scss';

.products {
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    min-height: 100vh;
    min-height: 100dvh;

    @include sm {
        padding: 30px 30px;
    }

    @include xs {
        padding: 30px 0;
        flex-direction: column;
    }
  
    .left {
        flex: 1;
        -webkit-position: sticky;
        position: sticky;
        z-index: 4;
        height: max-content;
        top: 70px;
        padding: 20px;
        font-size: var(--f16px);
        background-color: var(--background-color8);

        @include xs {
            top: 48px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 68px 100px;
            column-gap: 20px;
            padding: 10px 30px 0px 30px;

            div {
                &:nth-child(1) {
                    grid-row: 1 / 3;
                }
                &:nth-child(2) {
                    grid-column: 2 / -1;
                }
            }
        }
    
        .products-filter {
            margin-bottom: 30px;

            @include xs {
                margin-bottom: 0px;
            }

            h3 {
            color: var(--slate950);
            font-weight: 500;
            margin-bottom: 20px;
            font-size: var(--f18px);
            }
    
            .products-input {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                color: var(--slate600);

                label {
                    margin-left: 10px;
                    text-transform: capitalize;
                }

                input {
                    cursor: pointer;
                    accent-color: var(--green600);
                }

                input[type='range'] {
                    margin: 0 10px;
                }

                span {
                    &:first-child {
                        margin-left: 5px;
                    }
                }

            }
        }
    }
    
    .right {
        flex: 3;
        overflow: hidden;
    
        .cat-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 50%;
            margin-bottom: 50px;

            @include xs {
                display: none;
            }
        }
    }
}