@import '../../styles/responsive.scss';

.products {
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    height: max-content;
    min-height: 100vh;

    @include sm {
        padding: 30px 30px;
    }

    @include xs {
        padding: 30px 0;
        flex-direction: column;
    }
  
    .left {
        flex: 1;
        -webkit-position: sticky;
        position: sticky;
        z-index: 4;
        height: max-content;
        top: 70px;
        font-size: var(--f16px);

        @include xs {
            top: 55px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 68px 100px;
            column-gap: 20px;
            padding: 0 30px;

            div {
                &:nth-child(1) {
                    grid-row: 1 / 3;
                }
                &:nth-child(2) {
                    grid-column: 2 / -1;
                }
            }
        }
    
        .filterItem {
            margin-bottom: 30px;

            @include xs {
                margin-bottom: 0px;
            }

            h3 {
            color: var(--color-slate950);
            font-weight: 500;
            margin-bottom: 20px;
            font-size: var(--f18px);
            }
    
            .inputItem {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                color: var(--color-slate600);

                label {
                    margin-left: 10px;
                    text-transform: capitalize;
                }

                input {

                    background-color: pink;

                    &:checked {
                        border-color: green;
                        background-color: green;
                    }
                }

                input[type='range'] {
                    margin: 0 10px;
                }

                span {
                    &:first-child {
                        margin-left: 5px;
                    }
                }

            }
        }
    }
    
    .right {
        flex: 3;
    
        .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;

            @include xs {
                display: none;
            }
        }
    }
}