:root {
    --color-white: #fff;
    --color-slate50: #f8fafc;
    --color-slate200: #e2e8f0;
    --color-slate400: #94a3b8;
    --color-slate600: #475569;
    --color-slate800: #1e293b;
    --color-slate900: #070a13;
    --color-slate950: #010519;
    --color-green50: #f0fdf4;
    --color-green200: #bbf7d0;
    --color-green400: #4ade80;
    --color-green600: #16a34a;
    --color-green800: #166534;
    --color-header: #010519;

    --f10px : 10px;
    --f11px : 11px;
    --f12px : 12px;
    --f13px : 13px;
    --f14px : 14px;
    --f15px : 15px;
    --f16px : 16px;
    --f17px : 17px;
    --f18px : 18px;
    --f19px : 19px;
    --f20px : 20px;
    --f21px : 21px;
    --f22px : 22px;
    --f23px : 23px;
    --f24px : 24px;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 200ms ease;
}

.app {
    background-color: var(--color-white);
    .link {
        color: inherit;
        text-decoration: none;
    }
}

.night {
    --color-white: #010519;
    --color-slate50: #070a13;
    --color-slate200: #f8fafc;
    --color-slate400: #f8fafc;
    --color-slate600: #e2e8f0;
    --color-slate800: #f8fafc;
    --color-slate950: #f8fafc;
    --color-green50: #010519;
    --color-green200: #bbf7d0;
    --color-green400: #4ade80;
    --color-green600: #16a34a;
    --color-green800: #166534;
    --color-header: #16a34a;
}

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: var(--color-slate950);
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width : 1920px) {
    :root {
        --f10px : 8px;
        --f11px : 9px;
        --f12px : 10px;
        --f13px : 11px;
        --f14px : 12px;
        --f15px : 13px;
        --f16px : 14px;
        --f17px : 15px;
        --f18px : 16px;
        --f19px : 17px;
        --f20px : 18px;
        --f21px : 19px;
        --f22px : 20px;
        --f23px : 21px;
        --f24px : 22px;
    }
}

@media (max-width : 1440px) {
    :root {
        --f10px : 7px;
        --f11px : 8px;
        --f12px : 9px;
        --f13px : 10px;
        --f14px : 11px;
        --f15px : 12px;
        --f16px : 13px;
        --f17px : 14px;
        --f18px : 15px;
        --f19px : 16px;
        --f20px : 17px;
        --f21px : 18px;
        --f22px : 19px;
        --f23px : 20px;
        --f24px : 21px;
    }
}

@media (max-width : 1280px) {
    :root {
        --f10px : 6px;
        --f11px : 7px;
        --f12px : 8px;
        --f13px : 9px;
        --f14px : 10px;
        --f15px : 11px;
        --f16px : 12px;
        --f17px : 13px;
        --f18px : 14px;
        --f19px : 15px;
        --f20px : 16px;
        --f21px : 17px;
        --f22px : 18px;
        --f23px : 19px;
        --f24px : 20px;
    }
}
