@import '../../styles/responsive.scss';

.contacts {
    background-color: var(--green600);
    color: var(--white);
    padding: 16px;
    display: flex;
    justify-content: center;
  
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        @include xs {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        input {
            padding: 0.5em 12px;
            border: none;
            font-size: var(--f16px);

            &:focus {
                outline: none;
            }
        }
    
        button {
            font-family: 'Rubik', sans-serif;
            padding: 0.5em 1em;
            font-weight: 500;
            background: var(--slate200);
            border: none;
            font-size: var(--f16px);

            &:not(:disabled) {
                color: inherit;
            }
        }
    
        .icons {
            display: flex;
            gap: 24px;
        }

        .icons > * {
            width: var(--f24px);
        }

        span {
            font-size: var(--f16px);
        }
    }
}