@import '../../styles/responsive.scss';
@import '../../styles/utils.scss';

.slider {
	height: 100vh;
    height: 100dvh;
    position: relative;
    overflow: hidden;
  
    .slider-wrapper {
		height: 100%;
		display: flex;
		transition: all 1000ms ease;

      	img {
			width: 100vw;
			width: 100dvw;
			height: 100vh;
			height: 100dvh;
			object-fit: cover;

			@include xs {
				&:first-of-type {
					object-position: 30%;
				}

				&:nth-child(2) {
					object-position: 80%;
				}
			}
      	}
    }
  
	.slider-title {
		position: absolute;
		z-index: 1;
		top: 10%;
		left: 5%;
		width: fit-content;
		padding: 10px;
		background-color: var(--background-color6);

		h1 {
			font-family: inherit;
			color: var(--slate950);
			font-size: calc(2.5 * var(--f24px));

			@include sm {
				font-size: calc(2.5 * var(--f18px));
			}
		}
	}
}