.notfound {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 20px;

    .notfound-wrapper {
        gap: 10px;
        margin: 0 auto;
        text-align: center;
    
        h2 {
            font-size: calc(var(--f16px) * 2);
            color: var(--green600);
            font-weight: 600;
            letter-spacing: 0.05em;
        }
    
        p {
            color: var(--slate950);
            font-size: var(--f16px);
    
            span {
                text-transform: uppercase;
                color: var(--green600);
                font-size: var(--f18px);
                font-weight: 600;
            }
        }
    } 
}