.success {
    margin: 40vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
    min-height: 100dvh;

    h2 {
        font-size: calc(var(--f16px) * 2);
        color: var(--green600);
        font-weight: 600;
        letter-spacing: 0.05em;
    }

    p {
        color: var(--slate950);
        font-size: var(--f16px);

        span {
            text-transform: uppercase;
            color: var(--green600);
            font-weight: 600;
        }
    }
}